@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  background-image: url(BG1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  max-width: 800px;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  opacity: 0.7;
}

.controls {
  padding-right: 20px;
}

.controls button,
.controls input {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: pink;
  color: black;
}

.controls p {
  font-weight: bold;
  margin-bottom: 5px;
}

.control-group {
  margin-bottom: 20px;
  color: pink;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  border: 5px solid pink;
  border-radius: 10px;
  width: 500px;

}

.item {
  background-color: pink;
  height: 50px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  width: 50px;
  border-radius: 10px;
  border: 2px solid black;
}